{% extends 'base_admin.html.twig' %}

{% block title %} Livraisons {% endblock %}

{% block body %}

	<div class="row">
		<div class="offset-sm-1">
			<h1>Livraison.</h1>
		</div>
	</div>

	<div class="row">
		<div class="offset-sm-1"
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="{{ path("admin") }}">Administrateur</a></li>
			    <li class="breadcrumb-item"><a href="{{ path("menu_delivery") }}">Menu Livraison</a></li>
			    {% if not is_admin %}
			    	<li class="breadcrumb-item"><a href="{{ path("company_delivery", {id:company.id}) }}">{{ company.name }}</a></li>
			    {% endif %}
			    <li class="breadcrumb-item"><a href="{{ path("deliveries") }}">Livraisons</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Livraison</li>
			  </ol>
			</nav>
		</div>
	</div>

	<div class="row justify-content-start offset-1">

		<div class="row">
			<div class="col-10 offset-1">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Numéro</th>
							<th>Date</th>
							{% if is_admin %}
								<th>Entreprise</th>
							{% endif %}
							<th>Département</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ delivery.num }}</td>
							<td>{{ delivery.date|date("d/m/Y") }}</td>
							{% if is_admin %}
								<td>{{ delivery.company.name }}</td>
							{% endif %}
							<td>
								{% for department in delivery.departments %}
							 		{{ departments[department] }} 
								{% endfor %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="w-100"></div>

		<div class="row">
			<div class="col-10 offset-1">
				<h3>Commandes livrées.</h3>
				{#<ul>
					{% for command in delivery.commands %}
						<li>
							{{ command.user.username }} {{ command.num }} 
							<a class="btn btn-info" href="{{ path('command', {id:command.id}) }}">Voir</a> 
						</li>
					{% endfor %}
				</ul>#}
				<table class="table table-bordered">
					<thead>
						<tr class="table-primary">
							<th>Numéro</th>
							<th>Nom d'utilisateur</th>
							<th>Voir</th>
						</tr>
					</thead>
					<tbody>
						{% for command in delivery.commands %}
							<td>{{ command.num }}</td>
							<td>{{ command.user.username }}</td>
							<td><a class="btn btn-primary" href="{{ path('command', {id:command.id}) }}">Voir</a></td>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>

{% endblock %}
