{% extends 'base_admin.html.twig' %}

{% block title %} Livraisons {% endblock %}

{% block body %}

	<div class="row">
		<div class="offset-sm-1">
			<h1>Livraisons.</h1>
		</div>
	</div>

	<div class="row">
		<div class="offset-sm-1"
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="{{ path("admin") }}">Administrateur</a></li>
			    <li class="breadcrumb-item"><a href="{{ path("menu_delivery") }}">Menu Livraison</a></li>
			    <!-- Vérifier le fonctionnement du not seul dans le if. -->
			    {% if not is_admin %}
			    	<li class="breadcrumb-item"><a href="{{ path("company_delivery", {id:company.id}) }}">{{ company.name }}</a></li>
			    {% endif %}
			    <li class="breadcrumb-item"><a href="{{ path("deliveries") }}">Livraisons</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Livraison</li>
			  </ol>
			</nav>
		</div>
	</div>

	<div class="row justify-content-start offset-1">

		<div class="row">
			<div class="col-10 offset-1 table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Date</th>
							<th>Type</th>
							{#<th>Voir</th>#}
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ delivery.date|date("d/m/Y") }}</td>
							<td>
								{{ (delivery.type is not null)?
									((delivery.type.delete == false)?(delivery.type.name):('Supprimé')):
									('Supprimé') }}
							</td>
							{#<td><a class="btn btn-info" href="">Commandes</a></td>#}
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

{% endblock %}
