{% extends 'base_admin.html.twig' %}

{% block title %} {{ product.name }} {% endblock %}

{% block body %}
	
	<div class="row">
		<div class="offset-sm-1">
			<h1>{{ product.name }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="offset-sm-1"
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="{{ path("admin") }}">Administrateur</a></li>
			    <li class="breadcrumb-item"><a href="{{ path("menu_product") }}">Menu produit</a></li>
			    <li class="breadcrumb-item"><a href="{{ path("products") }}">Produits</a></li>
			    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
			  </ol>
			</nav>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-10 offset-md-1">

			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr><th></th><th>Nom</th><th>Code</th><th>Description</th><th>Stock</th><th>Activitée</th></tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{% if product.imgFileName != null %}
								<img src="{{ asset('img/uploads/Product/Product/' ~ product.imgFileName) }}" width="60" height="60">
							{% endif %}
						</td>
						<td>{{ product.name }}</td>
						<td>{{ product.code }}</td>
						<td>{{ product.description }}</td>
						<td>{{ product.stock }}</td>
						<td>{{ (product.activate)?('Actif'):('Inactif') }}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div class="row justify-content-start">
		<div class="col-md-4 offset-md-1">

			<a href="{{ path("modify_product", {id:product.id}) }}" class="btn btn-primary">Modifier</a>

			<a href="{{ path("activate_disactivate_product", {id:product.id}) }}" class="btn btn-danger">
				{{ (product.activate)?("Désactiver"):("Activer") }}
			</a>

			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">Supprimer</button>

			<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalCenterTitle">Supprimer</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p>Etes vous sûr de supprimer le produit {{ product.name }} ?</p>
			      </div>
			      <div class="modal-footer">
			      	<a href="{{ path("delete_product", {id:product.id}) }}" class="btn btn-danger">Oui</a>
			        <button class="btn btn-primary" data-dismiss="modal">Non</button>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</div>

	<div class="row justify-content-start">
		<div class="col-1"></div>
		<div class="col-5">
			<div class="row justify-content-center"><h4>Catégories<h4></div>
			{% for category in product.categories %}
				<div class="row justify-content-center">
					<a class="btn btn-success" href="{{ path("category", {id:category.id}) }}">{{ category.name }}</a>
				</div>
			{% endfor %}
		</div>
		<div class="col-5">
			<div class="row justify-content-center"><h4>Variantes de produits<h4></div>
			{% for variant_product in product.variantsProducts %}
				<div class="row justify-content-center">
					<a class="btn btn-success" href="{{ path("variant_product", {id:variant_product.id}) }}">{{ variant_product.name }}</a>
				</div>
			{% endfor %}
			
		</div>
	</div>
	<div class="row justify-content-start">
		<div class="col-5 offset-1">
			<div class="row justify-content-center">
				<a class="btn btn-primary" href="{{ path("manage_categories_product", {id:product.id}) }}">Changer les catégories</a>
			</div>
		</div>
		<div class="col-5">
			<div class="row justify-content-center">
				<a class="btn btn-primary"  href="{{ path("manage_variants_products_product", {id:product.id}) }}">Changer les variantes de produits</a>
			</div>
		</div>
	</div>

{% endblock %}
