{% extends 'base_admin.html.twig' %}

{% block title %} Menu Livraison {% endblock %}


{% block body %} 

	<div class="row">
		<div class="offset-sm-1">
			<h1>Menu livraison.</h1>
		</div>
	</div>

	<div class="row">
		<div class="offset-sm-1"
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="{{ path("admin") }}">Administrateur</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Menu livraison</li>
			  </ol>
			</nav>
		</div>
	</div>

	<div class="row offset-1">
		<div class="col col-3">
			{% if is_admin %}
				<a href="{{ path("companies_deliveries") }}" class="btn btn-primary">Entreprises</a>
			{% else %}
				<a href="{{ path("company_delivery", {id: admin.companyDelivery.id}) }}" class="btn btn-primary">
					{# {{admin.companyDelivery.name}} #} Entreprise
				</a>
			{% endif %}
		</div>
		<div class="col col-3">
			<a href="{{ path("types_deliveries") }}" class="btn btn-primary">Types</a>
		</div>
		<div class="col col-3">
			<a href="{{ path("deliveries") }}" class="btn btn-primary">Livraisons</a>
		</div>
	</div>


{% endblock %}
