

<div class="col justify-content-center case_product">
	{% if product is not null %}
		<a href="{{ path("store_product", {code: product.code}) }}">
			<div class="row row_image">
				{% set path = (product.imgFileName is null)?
							  ('sans_image_produit.png'):
							  ('uploads/Product/VariantProduct/' ~ product.imgFileName) %}
				<img src="{{asset('img/' ~ path) }}" width="100%" height="100%">
			</div>
		</a>
		<a href="{{ path("store_product", {code: product.code}) }}">
			<p>{{ product.name }} - {{ product.price|slice(0, product.price|length - 2)~','~product.price|slice(product.price|length - 2, product.price|length) }} &#8364 </p>
		</a>
	{% endif %}
</div>

