{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %} 

	{% if errors is not empty %}
		<ul>
			{% for error in errors %}
				<li> {{ error }} </li>
			{% endfor %}
		</ul>
	{% endif %}

	<h1>Créer un compte.</h1>

	{{ form_start(form) }}

	{{ form_row(form.username) }}
	{{ form_row(form.email) }}
	{{ form_row(form.password) }}
	{{ form_row(form.verifyPassword) }}
	{{ form_row(form.submit) }}

	{{ form_end(form, {'render_rest': false}) }}

	<a href="{{ path("store") }}"><button class="btn btn-danger">Annuler</button></a>

{% endblock %}
