{% extends 'base.html.twig' %}

{% block title %} {{user.username}} {% endblock %}

{% block body %}
	<div class="">
		<h1>{{ user.username }}</h1>
		<p>Adresse email : {{ user.email }}</p>
		<div>
			{% if user.imgFileName == null %}
				<a href="{{ path('store_user_change_image') }}"><button class="btn btn-info">Ajouter une image de profile</button></a>
			{% else %}
				<img class="img-thumbnail" src="{{ asset('img/uploads/User/' ~ user.imgFileName) }}" width="100" height="100">
				<a href="{{ path('store_user_change_image') }}"><button class="btn btn-info">Modifier une image de profile</button></a>
			{% endif %}
		</div>
	</div>
{% endblock %}
