{% extends 'base.html.twig' %}

{% block title %} {{user.username}} {% endblock %}

{% block body %}
	<div class="">
		<h1>{{ user.username }}</h1>
		<p>Adresse email : {{ user.email }}</p>
		<div>
			{# {% set img_name = (user.imgFileName is null)?('sans_image.png'):(user.imgFileName) %}
			<img src="{{ asset('img/uploads/User/' ~ img_name) }}" width="60" height="60">
			<a href="{{ path('store_user_change_image') }}"><button class="btn btn-info">Modifier une image de profile</button></a>#}
			<img src="{{ asset( (user.imgFileName is null)?('img/sans_image.png'):('img/uploads/User/' ~ user.imgFileName) ) }}"
				 width="60" height="60">
			<a href="{{ path('store_user_change_image') }}"><button class="btn btn-info">Modifier une image de profile</button></a>
		</div>
	</div>
{% endblock %}
