{% extends 'base.html.twig' %}


{% block title %} Changement d'adresse {% endblock %}


{% block body %}
	<div class="row">
		<div class="offset-2 col">
			<h1>Changer nouvelle adresse.</h1>
		</div>
	</div>

	{% if errors is defined %}
		{% if errors is not empty %}
			<ul>
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endif %}

	{{ form_start(form) }}

		<div class="row form-div">
			<div class="offset-2 col-8">
				{{ form_label(form.street) }}
				{{ form_errors(form.street) }}
				{{ form_widget(form.street) }}
			</div>
		</div>

		<div class="row justify-content-center form-div">
			<div class="col-4">
				{{ form_label(form.zipCode) }}
				{{ form_errors(form.zipCode) }}
				{{ form_widget(form.zipCode) }}
			</div>
			<div class="col-4">
				{{ form_label(form.city) }}
				{{ form_errors(form.city) }}
				{{ form_widget(form.city) }}
			</div>
		</div>

		<div class="row form-div">
			<div class="offset-2 col-4 div-button">
				{{ form_label(form.submit) }}
				{{ form_widget(form.submit) }}
			</div>
			<div class="col-1">
				<a href="{{ path("store_user") }}" class="btn btn-danger">Annuler</a>
			</div>
		</div>

	{{ form_end(form) }}

{% endblock %}