{% extends 'base.html.twig' %}

{% block title %} {{user.username}} {% endblock %}

{% block body %}

	<div class="row">
		<div class="offset-2 col">
			<h1>{{ user.username }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col offset-2 store_user_info-col">
			Adresse email : {{ user.email }}
			<a href="{{ path('store_change_mail') }}" class="btn btn-info">Changer d'adresse mail</a>
		</div>
		<div class="w-100"></div>
		<div class="col offset-2 store_user_info-col">
			{{ (user.live is not null)?
			   ("Adresse : " ~ user.live.street ~ " " ~ user.live.zipCode ~ " " ~ user.live.city):
			   ("Vous n'avez pas d'adresse attribuée à votre compte.") }}
			<a href="{{ path('store_user_change_address') }}" class="btn btn-info">Changer d'adresse</a>
		</div>
		<div class="w-100"></div>
		<div class="col offset-2 store_user_info-col">
			<img src="{{ asset( (user.imgFileName is null)?
								('img/sans_image.png'):('img/uploads/User/' ~ user.imgFileName) ) }}"
				 width="60" height="60">
			<a href="{{ path('store_user_change_image') }}" class="btn btn-info">Changer d'image de profile</a>
		</div>
		<div class="w-100"></div>
		<div class="col-4 offset-2 store_user_info-col">
			<a href="{{ path('store_change_password') }}" class="btn btn-info">Changer de mot de passe</a>
		</div>
		{% if not user.valid %}
			<div class="col-4 offset-2 store_user_info-col">
				<a href="{{ path('store_send_email_verify') }}" class="btn btn-info">Vérifier le compte</a>
			</div>
		{% endif %}
		<div class="w-100"></div>
		<div class="col offset-2 store_user_info-col">
			<div class="row justify-content-around">
				<div class="col-3">
					<a class="btn btn-primary" href="{{ path('store_user_commands') }}">Commandes</a>
				</div>
				<div class="col-3">
					<a class="btn btn-primary" href="{{ path('store_user_comments') }}">Commentaires</a>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>

{% endblock %}
