{% extends 'base.html.twig' %}

{% block title %} Ajout de catégorie {% endblock %}

{% block body %}

	{% if errors is not empty %}
		<ul>
			{% for error in errors %}
				<li> {{ error }} </li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="row">
		<div class="offset-sm-1">
		<h1>Ajouter une catégorie.</h1></div>
	</div>

	<div class="row">
		<div class="offset-sm-1"
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="{{ path("admin") }}">Administrateur</a></li>
			    <li class="breadcrumb-item"><a href="{{ path("categories") }}">Catégories</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Ajouter une catégorie</li>
			  </ol>
			</nav>
		</div>
	</div>

	{{ form_start(form) }}

		<div class="row justify-content-around form-div">
			<div class="col-5">
				{{ form_label(form.name) }}
				{{ form_errors(form.name) }}
				{{ form_widget(form.name) }}
			</div>
			<div class="col-5">
				{{ form_label(form.code) }}
				{{ form_errors(form.code) }}
				{{ form_widget(form.code) }}
			</div>
		</div>

		<div class="row justify-content-around form-div">
			<div class="col-5">
				{{ form_label(form.image) }}
				{{ form_errors(form.image) }}
				{{ form_widget(form.image) }}
			</div>
			<div class="col-5"></div>
		</div>

		{# {{ form_row(form.image) }} #}

		<div class="row justify-content-start form-div-button">
			<div class="offset-sm-1">
				{{ form_row(form.submit) }}
			</div>
			<div class="col-1">
				<a href="{{ path("categories") }}" class="btn btn-danger">Annuler</a>
			</div>
		</div>

	{{ form_end(form) }}

{% endblock %}

